# Dataset Versioning Example

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import os 
os.environ['OAUTHLIB_INSECURE_TRANSPORT'] = '1'

In [ ]:
from traintrack import list_datasets, Dataset
import pandas as pd
import semver

In [6]:
datasets = list_datasets()
datasets

In [4]:
dataset = Dataset(None, "training_data", "1.0.0", "Raw data")
dataset.set_artefact("df", pd.DataFrame(data={'col1': [1, 2], 'col2': [3, 4]}))
dataset.save()

In [5]:
datasets = list_datasets()
dataset = datasets.latest_version("training_data")
dataset

In [6]:
df = dataset.get_artefact("df")
df

   col1  col2
0     1     3
1     2     4

In [7]:
new_version = str(semver.VersionInfo.parse(dataset.version).bump_patch())
new_dataset = dataset.transform("training_data", "Add a sum column", new_version)
new_dataset

In [8]:
new_df = df.copy()
new_df['sum'] = new_df.sum(axis=1)
new_dataset.set_artefact("df", new_df)

In [9]:
new_dataset.artefacts

{'df':    col1  col2  sum
 0     1     3    4
 1     2     4    6}

In [10]:
new_dataset.save()